:host {
    display: block;
    min-height: 100vh;
    background-color: #0a0f1e;
    color: #e5e7eb;
}

.page {
    display: flex;
    flex-direction: column;
    // gap: 4rem;
    // padding-top: 5rem;
}
